<!DOCTYPE html>
<html>
    <head>
        <title>Posty</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel= "stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Posty</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
        <% if(!currentUser){ %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
       <% } else { %>
            <li class="nav-item">
               <a href="#">Signed In As <%= currentUser.username%></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/logout">Logout</a>
            </li>
       <% } %>
        </ul>
      </div>
    </nav>

    <div style="margin-top:5%" class="container">
    <!--check error to see if it exist and check error.length to see if there is anything in the error array-->
      <%if(error && error.length > 0){%>
          <div class="alert alert-danger" role="alert">
            <%= error %>
           </div>
       <%}%>
       <%if(success && success.length > 0){%>
          <div style="margin-top:5%" class="alert alert-success" role="alert">
              <%= success %>
          </div>
       <%}%>
    </div>
    
    

        
   