<% include ../partials/header %>

<%console.log("WARNING COMING FROM SHOW EJS")%>
<%console.log(currentUser)%>

<div class="container">
    <header class="jumbotron"> 
    <!--Wrap in another container so that there will always be a gap between text and border of jumbotron-->
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <!--Wrap link in p tags to set it on a new line-->
            <p>
                <a class="btn btn-primary" href="/campgrounds/new">Add New campgrounds</a>
            </p>
        </div>
    </header> 

    <div class="container">
        <div class="row text-center" >
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="container">
                        <div class="card ">
                            <img class="card-img-top" src="<%= campground.image%>" alt="Card image cap" style=" width: 100%;
    height: 15vw;
    object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title"><%= campground.name%></h5>
                                    <!--Use mongo auto generated id-->
                                    <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a>
                                </div>
                        </div>
                    </div>
                
                
                </div>
            <%}); %>
        </div>
    </div>
</div>  


<% include ../partials/footer %>

